body {
  background-color: SteelBlue;
}

h1 {
  font-family: Arial, sans-serif;
  color: blue;
  margin-right: 20px;
}

p{
  font-family: Arial, sans-serif;
  color: pink;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
